
$url: "";
@font-face {
   font-family: "FuturaNewBold-Obl";
   src: url("../fonts/FuturaNewBold-Obl.ttf") format("truetype");
}
@font-face {
   font-family: "FuturaNewBold-Reg";
   src: url("../fonts/FuturaNewBold-Reg.ttf") format("truetype");
}
@font-face {
   font-family: "FuturaNewBook-Obl";
   src: url("../fonts/FuturaNewBook-Obl.ttf") format("truetype");
}
@font-face {
   font-family: "FuturaNewBook-Reg";
   src: url("../fonts/FuturaNewBook-Reg.ttf") format("truetype");
}
@font-face {
   font-family: "FuturaNewDemi-Obl";
   src: url("../fonts/FuturaNewDemi-Obl.ttf") format("truetype");
}
@font-face {
   font-family: "FuturaNewDemi-Reg";
   src: url("../fonts/FuturaNewDemi-Reg.ttf") format("truetype");
}
@font-face {
   font-family: "FuturaNewExtraBold-Obl";
   src: url("../fonts/FuturaNewExtraBold-Obl.ttf") format("truetype");
}
@font-face {
   font-family: "FuturaNewExtraBold-Reg";
   src: url("../fonts/FuturaNewExtraBold-Reg.ttf") format("truetype");
}
@font-face {
   font-family: "FuturaNewHeavy-Obl";
   src: url("../fonts/FuturaNewHeavy-Obl.ttf") format("truetype");
}
@font-face {
   font-family: "FuturaNewHeavy-Reg";
   src: url("../fonts/FuturaNewHeavy-Reg.ttf") format("truetype");
}
@font-face {
   font-family: "FuturaNewLight-Obl";
   src: url("../fonts/FuturaNewLight-Obl.ttf") format("truetype");
}
@font-face {
   font-family: "FuturaNewLight-Reg";
   src: url("../fonts/FuturaNewLight-Reg.ttf") format("truetype");
}
@font-face {
   font-family: "FuturaNewMedium-Obl";
   src: url("../fonts/FuturaNewMedium-Obl.ttf") format("truetype");
}
@font-face {
   font-family: "FuturaNewMedium-Reg";
   src: url("../fonts/FuturaNewMedium-Reg.ttf") format("truetype");
}
